includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- '#IAnnotation#'
		- '#ClassType and null will always evaluate to true.#'
		- '#Call to an undefined method ReflectionType::getName\(\).#'
		- '#Cannot access property \$annotations on Nette\\Reflection\\Property\|string.#'
